.profile-col-2 {
  width: 40vw !important;
  display: flex;
  justify-content: center;
}
@media (max-width: 880px) {
  .profile-col-2 {
    width: 46vw !important;
  }
}
@media (max-width: 800px) {
  .profile-col-2 {
    width: 100vw !important;
  }
}
.col-2-1st-div {
  background-color: white;
  width: 100%;
  margin: 20px;
  height: 100vh;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
