.col-for-map-and-apply {
  height: 86vh;
  width: 100%;
  position: sticky;
  top: 12vh;
}
.col-2-for-map-main-div {
  width: 100%;
  height: 60%;
  background-color: #564de5;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.col-2-for-map-2nd-div {
  width: 100%;
  height: 40%;
}
/* .job-title-comp-info-row {
  background-color: aqua;
} */
.comp-image-src-img {
  width: 15vw;
  height: 15vw;
  border-radius: 5px;
  object-fit: cover;
}
.job-details-hob-title {
  font-size: 3vw;
}
.job-details-hob-company-name {
  font-size: 1.2vw;
  color: #564de5;
}
.apply-job-apply-btn {
  font-size: 2vw !important;
  background-color: #564de5 !important;
}
.delete-job-apply-btn {
  font-size: 1.5vw !important;
  background-color: red !important;
}
.apply-job-update-btn {
  font-size: 1.5vw !important;
  background-color: #564de5 !important;
}
.apply-job-delete-btn {
  font-size: 1.5vw !important;
  background-color: red !important;
}
.singe-job-all-skills {
  padding: 7px 10px;
  font-size: 14px;
  background-color: #564de5;
  margin-right: 5px;
  border-radius: 5px;
  color: white;
  font-weight: 650;
  cursor: pointer;
}
.apply-down-btn-row {
  height: 60px;
  background-color: #564de5;
  width: 65vw;
  position: fixed;
  left: 0;
  bottom: 15px;
  position: sticky;
  top: 100px;
  z-index: 999;
  border-radius: 99px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  animation: 0.4s ease-out 0s 1 slideInTopFooter;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.applicant-user-div {
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

@keyframes slideInTopFooter {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
.statistics-down-btn-row {
  height: 300px;
  background-color: white;
  width: 65vw !important;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  animation: 0.4s ease-out 0s 1 slideInTopFooter;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  border-radius: 5px;
}
.delete-job-apply-btn-down {
  border-radius: 99px !important;
  background-color: red !important;
  color: white !important;
}

.apply-job-apply-btn-down {
  /* margin-left: auto !important; */
  border-radius: 99px !important;
  background-color: white !important;
  color: #564de5 !important;
}
.go-back-arrow {
  border-radius: 50%;
  background-color: white !important;
  color: #564de5 !important;
  font-size: 35px !important;
  cursor: pointer;
}
.singe-job-all-skills-down {
  padding: 7px 10px;
  font-size: 14px;
  background-color: white;
  margin-right: 5px;
  border-radius: 5px;
  color: #564de5;
  font-weight: 650;
  cursor: pointer;
}
@media (max-width: 767px) {
  .apply-down-btn-row {
    width: 100vw;
  }
  .statistics-down-btn-row {
    width: 100vw !important;
  }
  .col-2-for-map-main-div {
    margin-top: 10px !important;
  }
  .singe-job-all-skills-down {
    display: none;
  }
}
.quick-view-applicant {
  background-color: #564de5;
  border-radius: 50%;
  color: white;
  font-size: 30px !important;
  cursor: pointer;
  padding: 5px;
}
.quick-view-modal-style {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 90vh;
  padding: 4;
  background-color: white;
  border-radius: 5px;
}
.quick-view-applicant-modal {
  width: 70vw !important;
  height: 70vh !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px !important;
  /* animation: 0.4s ease-out 0s 1 slideInTopModal; */
  /* -webkit-animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards; */
}
