@import url("https://fonts.googleapis.com/css2?family=Della+Respira&display=swap");

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.login-text {
  text-decoration: none !important;
}
.create-account {
  text-decoration: none !important;
}
.login-text:hover {
  background-color: rgb(235, 235, 235);

  border-radius: 32px;
}
.create-account:hover {
  background-color: rgb(235, 235, 235);

  border-radius: 32px;
}
.my-mav-main-div-180-line {
  position: fixed;
  z-index: 99 !important;
  width: 100vw;
  animation: 1s ease-out 0s 1 slideInLeft;
}
.jobland-logo-text-part {
  margin-bottom: 1px;
  color: #564de5;
  text-shadow: 0px 0px 25px #564de5;
  font-weight: 600;
  font-family: "Della Respira", serif;
  font-size: 13px;
  margin-left: 3px;
  transition: all 0.9s ease !important;
}
@media (max-width: 450px) {
  .jobland-logo-text-part {
    display: none;
    transition: all 0.9s ease !important;
  }
}
.row__posters {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100px;
}

.row__posters-1 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 200px;
}
.row__posters-1::-webkit-scrollbar {
  display: none;
}
.search-component-div-cont {
  position: fixed;
  top: 70px;
  right: 240px;
  z-index: 99;
  background-color: white;
}
@media (max-width: 750px) {
  .search-component-div-cont {
    right: 50px;
  }
}
@media (max-width: 450px) {
  .search-component-div-cont {
    right: 20px;
  }
}
