.rdw-option-wrapper {
  min-width: 37px;
  height: 32px;
  border-radius: 2px;
  padding: 5px;
  margin: 0 4px;
  text-decoration: none;
  display: flex;
  justify-content: center;

  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.rdw-editor-toolbar {
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
  border-radius: 5px;
}
.rdw-editor-main::-webkit-scrollbar {
  width: 3px;
}
.rdw-editor-main {
  height: 66vh;
  /* overflow: auto; */
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #f1f1f1;
  padding: 20px;
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
}
.rdw-dropdown-selectedtext {
  text-decoration: none !important;
  color: black !important;
}
.rdw-dropdown-optionwrapper::-webkit-scrollbar {
  width: 2px;
}
.rdw-dropdown-optionwrapper:hover {
  box-shadow: none;
}
